<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <link href="static/css/freelancer.css" rel="stylesheet">
</head>
<body id="fondo">
	<div class="container-md">
		<h1 class="alert alert-info" role="alert">Bienvenid@ al blog de {{ nombre }}</h1>
	</div>

	<div class="container-md" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{ bienvenida }}
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Mi Nombre es Lizeth, soy estudiante de ingeniería en sistemas computacionales del 8vo semestre en el ITESG. 
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           {{ about }}
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Mis hobbies son: Jugar videojuego, principalmente de tipo hack and slash o de survival terror. También me gusta mucho leer novelas de misterio y suspenso, mi libro favorito se llama Rogue island. También me gusta escribir, tengo un blog de una novela que he estado escribiendo ya años atrás, pero está en remodelación (ahora que se un poco más sobre elaboración de páginas web), la novela aún está en la mitad del proceso. Me gustan los animales, pero me gustan más los pájaros (pero de lejitos, no en jaulas). 
        <br><br>
        Desde la secundaria he tomado cursos enfocados a la informática, actualmente soy técnico en ofimática, estudio la ingeniería en sistemas y me gustaría obtener una maestría, aunque aún no estoy decidida en que, pues hay varias áreas de mi carrera que me llaman la atención, y pues me gustaría continuar superándome. 

      </div>
    </div>
  </div>

  <section class="box">
    <hr />
    <header>
      <h3>Videojuegos</h3>
    </header>
    <div class="container d-flex align-items-center flex-column">
      <img class="masthead-avatar mb-5" src="https://i1.wp.com/www.sopitas.com/wp-content/uploads/2017/08/control.jpg" alt="code" data-toggle="modal" data-target="#exampleModal">
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Juegos favoritos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="container d-flex align-items-center flex-column">
            <div class="modal-body">
              <li>Doom</li>
              <li>Silent hill</li>
              <li>Tomb Rider</li>
              <li>Mortal kombat</li>
              <li>Call of duty</li>
              <li>Red dead redeption</li>
              <li>Dead space</li>
            </div>
          </div>
          <form>
            <div class="container d-flex align-items-center flex-column">
              <div class="portfolio-item mx-auto">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"></div>
              <img class="img-fluid" src="https://www.elheraldo.co/sites/default/files/styles/width_860/public/articulo/2016/03/08/10_mujeres_en_videojuegos_0.jpg?itok=UkidGL3W" alt="">
              <br><br>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="box">
    <hr />
    <header>
      <div class="container d-flex align-items-center flex-column">
        <h3>Libros</h3>
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <a href="/librosJ"><i class="fas fa-plus fa-3x"></i></a>
                </div>
              </div>
              <img class="img-fluid" src="https://i.pinimg.com/736x/c5/8a/f0/c58af020c1d0895942643c3ee918cfdb.jpg" alt="">
              <br><br><br>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto">
              <br><br>
              <div class="alert alert-warning" role="alert">
                <h4>.Amante de la lectura.</h4>
                <p>En este apartado menciono mis lecturas favoritas de los siguientes autores: </p>
                <br>
                <div class="container d-flex align-items-center flex-column">
                  <li>(<-)John Katzenbach</li>
                  <li>Howard Phillips Lovecraft(->)</li>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4">
            <div class="portfolio-item mx-auto">
              <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white">
                  <a href="/librosH"><i class="fas fa-plus fa-3x"></i></a>
                </div>
              </div>
              <img class="img-fluid" src="https://i.pinimg.com/736x/c5/8a/f0/c58af020c1d0895942643c3ee918cfdb.jpg" alt="">
              <br><br><br>
            </div>
          </div>
        </div>
      </div>
    </header>
  </section>
</div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>